body {
    background-color: #121e29;
}
header h1 {
    color: orange;
    font-family: arial;
    font-size: 34px;
}
article h2 {
    color: lightblue;
    font-family: arial;
    font-size: 20px;
}
article p {
    color: white;
    font-family: arial;
    font-size: 18px;
}
article a {
    color: orange;
    font-family: arial;
    font-size: 16px;
}
footer {
    background-color: #121e29;
    color: white;
    font-family: arial;
    font-size: 10px;
}